body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 16px;
	color: #3c4043;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale !important;
	-webkit-font-smoothing: antialiased !important;
}
*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*::-webkit-scrollbar {
	width: 15px;
}
*::-webkit-scrollbar-thumb {
	background: -webkit-gradient(linear, left top, left bottom, from(#202020), to(#081a4b));
	background: linear-gradient(to bottom, #1c2938, #1c2938);
	border-radius: 30px;
	box-shadow: inset 2px 2px 2px hsla(0, 2%, 64%, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}
*::-webkit-scrollbar-track {
	background: linear-gradient(to right, #395572, #395572 0.0625rem, #395572 0.0625rem, #395572);
}
.container {
	max-width: 980px;
	margin: 0 auto;
	padding: 94px 0px;
}
code {
	white-space: initial;
}
a {
	color: #828286;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
p {
	margin-top: 0;
	margin-bottom: 15px;
}
.snackbar {
	z-index: 20;
	position: fixed;
	display: flex;
	left: 10px;
	right: 10px;
	bottom: 16px;
	justify-content: flex-start;
	align-items: center;
	background-color: #323232;
	flex-grow: 1;
	border-radius: 4px;
}
.snackbar-content {
	color: #fff;
	display: flex;
	padding: 16px;
	flex-wrap: wrap;
	align-items: center;
	border-radius: 4px;
	background-color: #323232;
	margin: 0;
}
@keyframes dot {
	50% {
		transform: translateX(96px);
	}
}
@keyframes dots {
	50% {
		transform: translateX(-31px);
	}
}
@media screen and (min-width: 768px) {
	.snackbar {
		flex-grow: initial;
		max-width: 288px;
	}
}
